In [2]:
import pymysql

In [28]:
# 전역변수 선언부
conn = None
cur = None

sql = ''

# 메인 코드
password = input('비밀번호를 입력하세요')
conn = pymysql.connect(host = 'localhost', port=3306, user='root', password=password, db='futsaldata', charset='utf8')
cur = conn.cursor() # 커서생성

In [5]:
sql = 'CREATE TABLE IF NOT EXISTS userTable (id char(4), userName char(10), email char(15), birthYear int)' # 테스트 테이블 생성
cur.execute(sql) # sql문 실행

conn.commit() # 저장

conn.close() # 종료

In [10]:
sql = "CREATE TABLE test_records (ID int(11) DEFAULT NULL, DATE datetime DEFAULT NULL, OPTEAMNAME varchar(100) DEFAULT NULL, QUARTER tinyint(4) DEFAULT NULL, GOAL varchar(3) DEFAULT NULL, ASSIST varchar(3) DEFAULT NULL)" # 테스트 테이블 생성
cur.execute(sql) # sql문 실행

conn.commit() # 저장

conn.close() # 종료

In [29]:
id_list = [str(x) for x in range(1, 6)]
datetime_list = ['2024-08-23 22:00:00'] * len(id_list)
opteamname_list = ['fc intentar'] * len(id_list)
quarter_list = ['1'] * len(id_list)
goal_list = ['후', '핵', '후', '상대', '상대']
assist_list = ['범', '삐', '삐', 'NULL', 'NULL']

In [30]:
for id, datetime, opteamname, quarter, goal, assist in zip(id_list, datetime_list, opteamname_list, quarter_list, goal_list, assist_list):
    if assist != 'NULL':
        sql = "INSERT INTO test_records VALUES(" + id + ",'" + datetime + "','" + opteamname + "'," + quarter + ",'" + goal + "','" + assist + "')"
        print(sql)
    else:
        sql = "INSERT INTO test_records VALUES(" + id + ",'" + datetime + "','" + opteamname + "'," + quarter + ",'" + goal + "'," + assist + ")"
        print(sql)
    cur.execute(sql) # sql문 실행

INSERT INTO test_records VALUES(1,'2024-08-23 22:00:00','fc intentar',1,'후','범')
INSERT INTO test_records VALUES(2,'2024-08-23 22:00:00','fc intentar',1,'핵','삐')
INSERT INTO test_records VALUES(3,'2024-08-23 22:00:00','fc intentar',1,'후','삐')
INSERT INTO test_records VALUES(4,'2024-08-23 22:00:00','fc intentar',1,'상대',NULL)
INSERT INTO test_records VALUES(5,'2024-08-23 22:00:00','fc intentar',1,'상대',NULL)

In [ ]:
conn.commit() # 저장

conn.close() # 종료