# Library

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

import time, os, re
from datetime import datetime
import pandas as pd

# 페이지 접속

In [4]:
url = 'https://finance.naver.com/' # 네이버 증권 > 홈

## requests 테스트
- 페이지 접속 가능 여부확인
    - 가능할 경우 출력 : <Response [200]>

In [114]:
req = requests.get(url)
print(req)

# html = req.content.decode('utf-8') # 한글 깨짐 해결 코드
html = req.text
soup = bs(html, 'html.parser')

# 현재 시간 가져오기
current_time = datetime.now()
# current_time = datetime.now().strftime('%Y%m%d_%H%M%S')
print(current_time)
print(soup.title.text)

<Response [200]>
2025-01-03 13:30:53.702250
네이버페이 증권

# 정보 수집

## 탭1(거래상위)

In [95]:
# TOP 종목
section_sise_top = soup.select_one('div#content div.section_sise_top')
section_sise_top

<div class="section_sise_top">
<h2 class="h_type"><span>TOP 종목</span></h2>
<ul class="tab_area sise_top1">
<li class="tab1"><a class="is_active" href="#" onclick="clickcr(this, 'spe.sale', '', '', event);return false;"><span>거래상위</span></a></li>
<li class="tab2"><a href="#" onclick="clickcr(this, 'spe.ceiling', '', '', event);return false;"><span>상승</span></a></li>
<li class="tab3"><a href="#" onclick="clickcr(this, 'spe.bottom', '', '', event);return false;"><span>하락</span></a></li>
<li class="tab4"><a href="#" onclick="clickcr(this, 'spe.value', '', '', event);return false;"><span>시가총액 상위</span></a></li>
</ul>
<div class="group_type is_active">
<table class="tbl_home">
<caption>거래상위 TOP 종목<span>종목명에 대한 현재가, 전일대비, 등락률로 구분되어 있습니다.</span></caption>
<colgroup>
<col width="40%"/>
<col/>
</colgroup>
<thead>
<tr>
<th scope="col">종목명</th>
<th scope="col">현재가</th>
<th scope="col">전일대비</th>
<th scope="col">등락률</th>
</tr>
</thead>
<tbody id="_topItems1">
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=252670" onclick="clickcr(this, 'spe.slist', '252670', '1', event);">KODEX 200선물인버스2X</a></th>
<td>2,460</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 135</td>
<td>
<em class="down">
				-5.20%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=530036" onclick="clickcr(this, 'spe.slist', '530036', '2', event);">삼성 인버스 2X WTI원유 선물 ETN</a></th>
<td>88</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 5</td>
<td>
<em class="down">
				-5.38%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=002630" onclick="clickcr(this, 'spe.slist', '002630', '3', event);">오리엔트바이오</a></th>
<td>1,861</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 125</td>
<td>
<em class="up">
				+7.20%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=233740" onclick="clickcr(this, 'spe.slist', '233740', '4', event);">KODEX 코스닥150레버리지</a></th>
<td>7,225</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 505</td>
<td>
<em class="up">
				+7.51%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=900280" onclick="clickcr(this, 'spe.slist', '900280', '5', event);">골든센츄리</a></th>
<td>4</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 1</td>
<td>
<em class="down">
				-20.00%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=011080" onclick="clickcr(this, 'spe.slist', '011080', '6', event);">형지I&amp;C</a></th>
<td>1,153</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 134</td>
<td>
<em class="up">
				+13.15%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=251340" onclick="clickcr(this, 'spe.slist', '251340', '7', event);">KODEX 코스닥150선물인버스</a></th>
<td>3,990</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 155</td>
<td>
<em class="down">
				-3.74%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=158430" onclick="clickcr(this, 'spe.slist', '158430', '8', event);">아톤</a></th>
<td>7,990</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,840</td>
<td>
<em class="up">
				+29.92%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=018500" onclick="clickcr(this, 'spe.slist', '018500', '9', event);">동원금속</a></th>
<td>2,560</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 85</td>
<td>
<em class="up">
				+3.43%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=500027" onclick="clickcr(this, 'spe.slist', '500027', '10', event);">신한 인버스 2X WTI원유 선물 ETN(H)</a></th>
<td>72</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 3</td>
<td>
<em class="down">
				-4.00%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=122630" onclick="clickcr(this, 'spe.slist', '122630', '11', event);">KODEX 레버리지</a></th>
<td>14,550</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 720</td>
<td>
<em class="up">
				+5.21%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=064260" onclick="clickcr(this, 'spe.slist', '064260', '12', event);">다날</a></th>
<td>3,485</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 595</td>
<td>
<em class="up">
				+20.59%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=032980" onclick="clickcr(this, 'spe.slist', '032980', '13', event);">바이온</a></th>
<td>363</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 153</td>
<td>
<em class="down">
				-29.65%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=001380" onclick="clickcr(this, 'spe.slist', '001380', '14', event);">SG글로벌</a></th>
<td>3,705</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 230</td>
<td>
<em class="up">
				+6.62%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=084650" onclick="clickcr(this, 'spe.slist', '084650', '15', event);">랩지노믹스</a></th>
<td>2,760</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 130</td>
<td>
<em class="up">
				+4.94%
				</em>
</td>
</tr>
</tbody>
</table>
<a class="btn_more" href="/sise/sise_quant.naver" onclick="clickcr(this, 'spe.more', '', '', event);"><em class="btn_more4"><span class="blind">거래상위 더보기</span></em></a>
</div>
<div class="group_type">
<table class="tbl_home">
<caption>상승 TOP 종목<span>종목명에 대한 현재가, 전일대비, 등락률로 구분되어 있습니다.</span></caption>
<colgroup>
<col width="40%"/>
<col/>
</colgroup>
<thead>
<tr>
<th scope="col">종목명</th>
<th scope="col">현재가</th>
<th scope="col">전일대비</th>
<th scope="col">등락률</th>
</tr>
</thead>
<tbody id="_topItems2">
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=123010" onclick="clickcr(this, 'spe.clist', '123010', '1', event);">아이윈플러스</a></th>
<td>1,493</td>
<td><em class="bu_p bu_pup2"><span class="blind">상한가</span></em> 344 </td>
<td>
<em class="up">
				+29.94%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=158430" onclick="clickcr(this, 'spe.clist', '158430', '2', event);">아톤</a></th>
<td>7,990</td>
<td><em class="bu_p bu_pup2"><span class="blind">상한가</span></em> 1,840 </td>
<td>
<em class="up">
				+29.92%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=062970" onclick="clickcr(this, 'spe.clist', '062970', '3', event);">한국첨단소재</a></th>
<td>7,210</td>
<td><em class="bu_p bu_pup2"><span class="blind">상한가</span></em> 1,660 </td>
<td>
<em class="up">
				+29.91%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=038880" onclick="clickcr(this, 'spe.clist', '038880', '4', event);">아이에이</a></th>
<td>254</td>
<td><em class="bu_p bu_pup2"><span class="blind">상한가</span></em> 58 </td>
<td>
<em class="up">
				+29.59%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=347860" onclick="clickcr(this, 'spe.clist', '347860', '5', event);">알체라</a></th>
<td>2,270</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 500 </td>
<td>
<em class="up">
				+28.25%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=009835" onclick="clickcr(this, 'spe.clist', '009835', '6', event);">한화솔루션우</a></th>
<td>19,010</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 3,860 </td>
<td>
<em class="up">
				+25.48%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=417500" onclick="clickcr(this, 'spe.clist', '417500', '7', event);">제이아이테크</a></th>
<td>3,880</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 765 </td>
<td>
<em class="up">
				+24.56%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=097800" onclick="clickcr(this, 'spe.clist', '097800', '8', event);">윈팩</a></th>
<td>774</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 149 </td>
<td>
<em class="up">
				+23.84%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=317830" onclick="clickcr(this, 'spe.clist', '317830', '9', event);">에스피시스템스</a></th>
<td>7,070</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,350 </td>
<td>
<em class="up">
				+23.60%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=064260" onclick="clickcr(this, 'spe.clist', '064260', '10', event);">다날</a></th>
<td>3,485</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 595 </td>
<td>
<em class="up">
				+20.59%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=200710" onclick="clickcr(this, 'spe.clist', '200710', '11', event);">에이디테크놀로지</a></th>
<td>19,450</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 3,170 </td>
<td>
<em class="up">
				+19.47%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=031980" onclick="clickcr(this, 'spe.clist', '031980', '12', event);">피에스케이홀딩스</a></th>
<td>43,900</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 6,650 </td>
<td>
<em class="up">
				+17.85%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=017860" onclick="clickcr(this, 'spe.clist', '017860', '13', event);">DS단석</a></th>
<td>33,850</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 5,000 </td>
<td>
<em class="up">
				+17.33%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=107640" onclick="clickcr(this, 'spe.clist', '107640', '14', event);">한중엔시에스</a></th>
<td>29,150</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 3,950 </td>
<td>
<em class="up">
				+15.67%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=039240" onclick="clickcr(this, 'spe.clist', '039240', '15', event);">경남스틸</a></th>
<td>5,600</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 745 </td>
<td>
<em class="up">
				+15.35%
				</em>
</td>
</tr>
</tbody>
</table>
<a class="btn_more" href="/sise/sise_rise.naver" onclick="clickcr(this, 'spe.more', '', '', event);"><em class="btn_more4"><span class="blind">상승 더보기</span></em></a>
</div>
<div class="group_type">
<table class="tbl_home">
<caption>하락 TOP 종목<span>종목명에 대한 현재가, 전일대비, 등락률로 구분되어 있습니다.</span></caption>
<colgroup>
<col width="40%"/>
<col/>
</colgroup>
<thead>
<tr>
<th scope="col">종목명</th>
<th scope="col">현재가</th>
<th scope="col">전일대비</th>
<th scope="col">등락률</th>
</tr>
</thead>
<tbody id="_topItems3">
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=032980" onclick="clickcr(this, 'spe.blist', '032980', '1', event);">바이온</a></th>
<td>363</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -153</td>
<td>
<em class="down">
				-29.65%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=900280" onclick="clickcr(this, 'spe.blist', '900280', '2', event);">골든센츄리</a></th>
<td>4</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -1</td>
<td>
<em class="down">
				-20.00%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=072130" onclick="clickcr(this, 'spe.blist', '072130', '3', event);">유엔젤</a></th>
<td>4,735</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -825</td>
<td>
<em class="down">
				-14.84%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=000545" onclick="clickcr(this, 'spe.blist', '000545', '4', event);">흥국화재우</a></th>
<td>6,170</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -1,030</td>
<td>
<em class="down">
				-14.31%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=100840" onclick="clickcr(this, 'spe.blist', '100840', '5', event);">SNT에너지</a></th>
<td>22,100</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -2,650</td>
<td>
<em class="down">
				-10.71%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=437730" onclick="clickcr(this, 'spe.blist', '437730', '6', event);">삼현</a></th>
<td>9,380</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -930</td>
<td>
<em class="down">
				-9.02%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=473980" onclick="clickcr(this, 'spe.blist', '473980', '7', event);">노머스</a></th>
<td>18,920</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -1,730</td>
<td>
<em class="down">
				-8.38%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=039340" onclick="clickcr(this, 'spe.blist', '039340', '8', event);">한국경제TV</a></th>
<td>5,700</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -520</td>
<td>
<em class="down">
				-8.36%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=700018" onclick="clickcr(this, 'spe.blist', '700018', '9', event);">하나 인버스 2X 코스닥150 선물 ETN</a></th>
<td>7,190</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -650</td>
<td>
<em class="down">
				-8.29%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=119850" onclick="clickcr(this, 'spe.blist', '119850', '10', event);">지엔씨에너지</a></th>
<td>7,970</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -690</td>
<td>
<em class="down">
				-7.97%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=580044" onclick="clickcr(this, 'spe.blist', '580044', '11', event);">KB 인버스 2X KOSDAQ 150 선물 ETN</a></th>
<td>7,115</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -600</td>
<td>
<em class="down">
				-7.78%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=570082" onclick="clickcr(this, 'spe.blist', '570082', '12', event);">한투 인버스 2X 코스닥150선물 ETN</a></th>
<td>7,170</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -605</td>
<td>
<em class="down">
				-7.78%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=011155" onclick="clickcr(this, 'spe.blist', '011155', '13', event);">CJ씨푸드1우</a></th>
<td>20,300</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -1,700</td>
<td>
<em class="down">
				-7.73%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=510027" onclick="clickcr(this, 'spe.blist', '510027', '14', event);">대신 인버스 2X 코스닥 150 선물 ETN</a></th>
<td>7,165</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -600</td>
<td>
<em class="down">
				-7.73%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=530107" onclick="clickcr(this, 'spe.blist', '530107', '15', event);">삼성 인버스 2X 코스닥150 선물 ETN</a></th>
<td>7,105</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> -585</td>
<td>
<em class="down">
				-7.61%
				</em>
</td>
</tr>
</tbody>
</table>
<a class="btn_more" href="/sise/sise_fall.naver" onclick="clickcr(this, 'spe.more', '', '', event);"><em class="btn_more4"><span class="blind">하락 더보기</span></em></a>
</div>
<div class="group_type">
<table class="tbl_home">
<caption>시가총액 상위 TOP 종목<span>종목명에 대한 현재가, 전일대비, 등락률로 구분되어 있습니다.</span></caption>
<colgroup>
<col width="40%"/>
<col/>
</colgroup>
<thead>
<tr>
<th scope="col">종목명</th>
<th scope="col">현재가</th>
<th scope="col">전일대비</th>
<th scope="col">등락률</th>
</tr>
</thead>
<tbody id="_topItems4">
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=005930" onclick="clickcr(this, 'spe.vlist', '005930', '1', event);">삼성전자</a></th>
<td>55,000</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,600</td>
<td>
<em class="up">
				+3.00%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=000660" onclick="clickcr(this, 'spe.vlist', '000660', '2', event);">SK하이닉스</a></th>
<td>182,000</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 10,800</td>
<td>
<em class="up">
				+6.31%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=373220" onclick="clickcr(this, 'spe.vlist', '373220', '3', event);">LG에너지솔루션</a></th>
<td>359,000</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 13,000</td>
<td>
<em class="up">
				+3.76%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=207940" onclick="clickcr(this, 'spe.vlist', '207940', '4', event);">삼성바이오로직스</a></th>
<td>942,000</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 8,000</td>
<td>
<em class="up">
				+0.86%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=005380" onclick="clickcr(this, 'spe.vlist', '005380', '5', event);">현대차</a></th>
<td>214,000</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 2,500</td>
<td>
<em class="up">
				+1.18%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=000270" onclick="clickcr(this, 'spe.vlist', '000270', '6', event);">기아</a></th>
<td>100,800</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 800</td>
<td>
<em class="down">
				-0.79%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=068270" onclick="clickcr(this, 'spe.vlist', '068270', '7', event);">셀트리온</a></th>
<td>181,300</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,000</td>
<td>
<em class="up">
				+0.55%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=005935" onclick="clickcr(this, 'spe.vlist', '005935', '8', event);">삼성전자우</a></th>
<td>45,350</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 650</td>
<td>
<em class="up">
				+1.45%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=105560" onclick="clickcr(this, 'spe.vlist', '105560', '9', event);">KB금융</a></th>
<td>85,000</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,600</td>
<td>
<em class="up">
				+1.92%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=035420" onclick="clickcr(this, 'spe.vlist', '035420', '10', event);">NAVER</a></th>
<td>201,500</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 7,700</td>
<td>
<em class="up">
				+3.97%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=329180" onclick="clickcr(this, 'spe.vlist', '329180', '11', event);">HD현대중공업</a></th>
<td>291,500</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 2,500</td>
<td>
<em class="up">
				+0.87%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=055550" onclick="clickcr(this, 'spe.vlist', '055550', '12', event);">신한지주</a></th>
<td>48,850</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,100</td>
<td>
<em class="up">
				+2.30%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=012330" onclick="clickcr(this, 'spe.vlist', '012330', '13', event);">현대모비스</a></th>
<td>247,500</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 1,500</td>
<td>
<em class="down">
				-0.60%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=005490" onclick="clickcr(this, 'spe.vlist', '005490', '14', event);">POSCO홀딩스</a></th>
<td>262,000</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 12,000</td>
<td>
<em class="up">
				+4.80%
				</em>
</td>
</tr>
<tr class="up">

In [96]:
group_types = section_sise_top.select('div.group_type')
len(group_types)

4

In [97]:
group_type = group_types[0]
group_type

<div class="group_type is_active">
<table class="tbl_home">
<caption>거래상위 TOP 종목<span>종목명에 대한 현재가, 전일대비, 등락률로 구분되어 있습니다.</span></caption>
<colgroup>
<col width="40%"/>
<col/>
</colgroup>
<thead>
<tr>
<th scope="col">종목명</th>
<th scope="col">현재가</th>
<th scope="col">전일대비</th>
<th scope="col">등락률</th>
</tr>
</thead>
<tbody id="_topItems1">
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=252670" onclick="clickcr(this, 'spe.slist', '252670', '1', event);">KODEX 200선물인버스2X</a></th>
<td>2,460</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 135</td>
<td>
<em class="down">
				-5.20%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=530036" onclick="clickcr(this, 'spe.slist', '530036', '2', event);">삼성 인버스 2X WTI원유 선물 ETN</a></th>
<td>88</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 5</td>
<td>
<em class="down">
				-5.38%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=002630" onclick="clickcr(this, 'spe.slist', '002630', '3', event);">오리엔트바이오</a></th>
<td>1,861</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 125</td>
<td>
<em class="up">
				+7.20%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=233740" onclick="clickcr(this, 'spe.slist', '233740', '4', event);">KODEX 코스닥150레버리지</a></th>
<td>7,225</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 505</td>
<td>
<em class="up">
				+7.51%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=900280" onclick="clickcr(this, 'spe.slist', '900280', '5', event);">골든센츄리</a></th>
<td>4</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 1</td>
<td>
<em class="down">
				-20.00%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=011080" onclick="clickcr(this, 'spe.slist', '011080', '6', event);">형지I&amp;C</a></th>
<td>1,153</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 134</td>
<td>
<em class="up">
				+13.15%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=251340" onclick="clickcr(this, 'spe.slist', '251340', '7', event);">KODEX 코스닥150선물인버스</a></th>
<td>3,990</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 155</td>
<td>
<em class="down">
				-3.74%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=158430" onclick="clickcr(this, 'spe.slist', '158430', '8', event);">아톤</a></th>
<td>7,990</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 1,840</td>
<td>
<em class="up">
				+29.92%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=018500" onclick="clickcr(this, 'spe.slist', '018500', '9', event);">동원금속</a></th>
<td>2,560</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 85</td>
<td>
<em class="up">
				+3.43%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=500027" onclick="clickcr(this, 'spe.slist', '500027', '10', event);">신한 인버스 2X WTI원유 선물 ETN(H)</a></th>
<td>72</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 3</td>
<td>
<em class="down">
				-4.00%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=122630" onclick="clickcr(this, 'spe.slist', '122630', '11', event);">KODEX 레버리지</a></th>
<td>14,550</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 720</td>
<td>
<em class="up">
				+5.21%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=064260" onclick="clickcr(this, 'spe.slist', '064260', '12', event);">다날</a></th>
<td>3,485</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 595</td>
<td>
<em class="up">
				+20.59%
				</em>
</td>
</tr>
<tr class="down">
<th scope="row"><a href="/item/main.naver?code=032980" onclick="clickcr(this, 'spe.slist', '032980', '13', event);">바이온</a></th>
<td>363</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 153</td>
<td>
<em class="down">
				-29.65%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=001380" onclick="clickcr(this, 'spe.slist', '001380', '14', event);">SG글로벌</a></th>
<td>3,705</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 230</td>
<td>
<em class="up">
				+6.62%
				</em>
</td>
</tr>
<tr class="up">
<th scope="row"><a href="/item/main.naver?code=084650" onclick="clickcr(this, 'spe.slist', '084650', '15', event);">랩지노믹스</a></th>
<td>2,760</td>
<td><em class="bu_p bu_pup"><span class="blind">상승</span></em> 130</td>
<td>
<em class="up">
				+4.94%
				</em>
</td>
</tr>
</tbody>
</table>
<a class="btn_more" href="/sise/sise_quant.naver" onclick="clickcr(this, 'spe.more', '', '', event);"><em class="btn_more4"><span class="blind">거래상위 더보기</span></em></a>
</div>

In [98]:
# stock_lines = group_type.select('tbody#_topItems1 tr')
stock_lines = group_type.select('tbody tr')
len(stock_lines)

15

In [99]:
# 1번째 종목
one_stock = stock_lines[0]
one_stock

<tr class="down">
<th scope="row"><a href="/item/main.naver?code=252670" onclick="clickcr(this, 'spe.slist', '252670', '1', event);">KODEX 200선물인버스2X</a></th>
<td>2,460</td>
<td><em class="bu_p bu_pdn"><span class="blind">하락</span></em> 135</td>
<td>
<em class="down">
				-5.20%
				</em>
</td>
</tr>

In [100]:
# 종목명
stock_name = one_stock.select_one('th a').text
stock_name

'KODEX 200선물인버스2X'

In [101]:
# 현재가
current_price = int(one_stock.select_one('td').text.replace(',', ''))
current_price

2460

# 🔧 전일 대비 상승, 하락 출력
- 빨간색 숫자는 그대로
- 파란색 숫자는 음수로

In [102]:
# 전일대비
raw_compare_yesterday = one_stock.select('td')[1].text
compare_yesterday = int(re.sub('[^0-9]', '', raw_compare_yesterday))
compare_yesterday

135

In [103]:
# 등락률
raw_updown_ratio = one_stock.select('td')[2].text.strip()
updown_ratio = float(re.sub('[^0-9.-]', '', raw_updown_ratio))
updown_ratio

-5.2

### 데이터 수집

In [104]:
stock_name_list = []
current_price_list = []
compare_yesterday_list = []
updown_ratio_list = []
for one_stock in stock_lines:
    # 종목명
    stock_name = one_stock.select_one('th a').text
    
    # 현재가
    current_price = int(one_stock.select_one('td').text.replace(',', ''))

    # 전일대비
    raw_compare_yesterday = one_stock.select('td')[1].text
    compare_yesterday = int(re.sub('[^0-9]', '', raw_compare_yesterday))

    # 등락률
    raw_updown_ratio = one_stock.select('td')[2].text.strip()
    updown_ratio = float(re.sub('[^0-9.-]', '', raw_updown_ratio))
    
    # 리스트에 추가
    stock_name_list.append(stock_name)
    current_price_list.append(current_price)
    compare_yesterday_list.append(compare_yesterday)
    updown_ratio_list.append(updown_ratio)

In [105]:
len(stock_name_list), len(current_price_list), len(compare_yesterday_list), len(updown_ratio_list)

(15, 15, 15, 15)

In [106]:
tab1_df = pd.DataFrame(
    {
        '수집시간': current_time,
        '종목명': stock_name_list,
        '현재가': current_price_list,
        '전일대비': compare_yesterday_list,
        '등락률': updown_ratio_list
    }
)
tab1_df

                         수집시간                        종목명    현재가  전일대비    등락률
0  2025-01-03 13:24:45.868512           KODEX 200선물인버스2X   2460   135  -5.20
1  2025-01-03 13:24:45.868512     삼성 인버스 2X WTI원유 선물 ETN     88     5  -5.38
2  2025-01-03 13:24:45.868512                    오리엔트바이오   1861   125   7.20
3  2025-01-03 13:24:45.868512           KODEX 코스닥150레버리지   7225   505   7.51
4  2025-01-03 13:24:45.868512                      골든센츄리      4     1 -20.00
5  2025-01-03 13:24:45.868512                      형지I&C   1153   134  13.15
6  2025-01-03 13:24:45.868512          KODEX 코스닥150선물인버스   3990   155  -3.74
7  2025-01-03 13:24:45.868512                         아톤   7990  1840  29.92
8  2025-01-03 13:24:45.868512                       동원금속   2560    85   3.43
9  2025-01-03 13:24:45.868512  신한 인버스 2X WTI원유 선물 ETN(H)     72     3  -4.00
10 2025-01-03 13:24:45.868512                 KODEX 레버리지  14550   720   5.21
11 2025-01-03 13:24:45.868512                         다날   3485   595  20.59
12 2025-01-03 13:24:45.868512                        바이온    363   153 -29.65
13 2025-01-03 13:24:45.868512                      SG글로벌   3705   230   6.62
14 2025-01-03 13:24:45.868512                      랩지노믹스   2760   130   4.94

In [107]:
tab1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   수집시간    15 non-null     datetime64[us]
 1   종목명     15 non-null     object
 2   현재가     15 non-null     int64
 3   전일대비    15 non-null     int64
 4   등락률     15 non-null     float64
dtypes: datetime64[us](1), float64(1), int64(2), object(1)
memory usage: 732.0+ bytes

## 탭2(상승)

In [60]:
group_type = group_types[1]
stock_lines = group_type.select('tbody tr')

In [61]:
stock_name_list = []
current_price_list = []
compare_yesterday_list = []
updown_ratio_list = []
for one_stock in stock_lines:
    # 종목명
    stock_name = one_stock.select_one('th a').text
    
    # 현재가
    current_price = int(one_stock.select_one('td').text.replace(',', ''))

    # 전일대비
    raw_compare_yesterday = one_stock.select('td')[1].text
    compare_yesterday = int(re.sub('[^0-9]', '', raw_compare_yesterday))

    # 등락률
    raw_updown_ratio = one_stock.select('td')[2].text.strip()
    updown_ratio = float(re.sub('[^0-9.-]', '', raw_updown_ratio))
    
    # 리스트에 추가
    stock_name_list.append(stock_name)
    current_price_list.append(current_price)
    compare_yesterday_list.append(compare_yesterday)
    updown_ratio_list.append(updown_ratio)

In [62]:
len(stock_name_list), len(current_price_list), len(compare_yesterday_list), len(updown_ratio_list)

(15, 15, 15, 15)

In [63]:
tab2_df = pd.DataFrame(
    {
        '수집시간': current_time,
        '종목명': stock_name_list,
        '현재가': current_price_list,
        '전일대비': compare_yesterday_list,
        '등락률': updown_ratio_list
    }
)
tab2_df

                         수집시간       종목명    현재가  전일대비    등락률
0  2025-01-03 12:41:04.792503    아이윈플러스   1493   344  29.94
1  2025-01-03 12:41:04.792503        아톤   7990  1840  29.92
2  2025-01-03 12:41:04.792503    한국첨단소재   7210  1660  29.91
3  2025-01-03 12:41:04.792503      아이에이    254    58  29.59
4  2025-01-03 12:41:04.792503       알체라   2275   505  28.53
5  2025-01-03 12:41:04.792503    한화솔루션우  18990  3840  25.35
6  2025-01-03 12:41:04.792503        윈팩    777   152  24.32
7  2025-01-03 12:41:04.792503        다날   3550   660  22.84
8  2025-01-03 12:41:04.792503   에스피시스템스   6970  1250  21.85
9  2025-01-03 12:41:04.792503     큐에스아이  12280  2170  21.46
10 2025-01-03 12:41:04.792503  에이디테크놀로지  19560  3280  20.15
11 2025-01-03 12:41:04.792503  피에스케이홀딩스  43800  6550  17.58
12 2025-01-03 12:41:04.792503       코위버   9290  1340  16.86
13 2025-01-03 12:41:04.792503    한중엔시에스  29300  4100  16.27
14 2025-01-03 12:41:04.792503      경남스틸   5630   775  15.96

## 탭3(하락)

In [64]:
group_type = group_types[2]
stock_lines = group_type.select('tbody tr')

In [65]:
stock_name_list = []
current_price_list = []
compare_yesterday_list = []
updown_ratio_list = []
for one_stock in stock_lines:
    # 종목명
    stock_name = one_stock.select_one('th a').text
    
    # 현재가
    current_price = int(one_stock.select_one('td').text.replace(',', ''))

    # 전일대비
    raw_compare_yesterday = one_stock.select('td')[1].text
    compare_yesterday = int(re.sub('[^0-9]', '', raw_compare_yesterday))

    # 등락률
    raw_updown_ratio = one_stock.select('td')[2].text.strip()
    updown_ratio = float(re.sub('[^0-9.-]', '', raw_updown_ratio))
    
    # 리스트에 추가
    stock_name_list.append(stock_name)
    current_price_list.append(current_price)
    compare_yesterday_list.append(compare_yesterday)
    updown_ratio_list.append(updown_ratio)

In [66]:
len(stock_name_list), len(current_price_list), len(compare_yesterday_list), len(updown_ratio_list)

(15, 15, 15, 15)

In [67]:
tab3_df = pd.DataFrame(
    {
        '수집시간': current_time,
        '종목명': stock_name_list,
        '현재가': current_price_list,
        '전일대비': compare_yesterday_list,
        '등락률': updown_ratio_list
    }
)
tab3_df

                         수집시간                          종목명    현재가  전일대비    등락률
0  2025-01-03 12:41:04.792503                          바이온    372   144 -27.91
1  2025-01-03 12:41:04.792503                        골든센츄리      4     1 -20.00
2  2025-01-03 12:41:04.792503                        흥국화재우   6130  1070 -14.86
3  2025-01-03 12:41:04.792503                          유엔젤   4755   805 -14.48
4  2025-01-03 12:41:04.792503                       SNT에너지  21600  3150 -12.73
5  2025-01-03 12:41:04.792503                           삼현   9390   920  -8.92
6  2025-01-03 12:41:04.792503                      CJ씨푸드1우  20100  1900  -8.64
7  2025-01-03 12:41:04.792503                          노머스  19020  1630  -7.89
8  2025-01-03 12:41:04.792503      하나 인버스 2X 코스닥150 선물 ETN   7245   595  -7.59
9  2025-01-03 12:41:04.792503                       한국경제TV   5750   470  -7.56
10 2025-01-03 12:41:04.792503                         뉴로메카  30550  2400  -7.28
11 2025-01-03 12:41:04.792503                        파인메딕스  12370   950  -7.13
12 2025-01-03 12:41:04.792503       한투 인버스 2X 코스닥150선물 ETN   7230   545  -7.01
13 2025-01-03 12:41:04.792503  KB 인버스 2X KOSDAQ 150 선물 ETN   7180   535  -6.93
14 2025-01-03 12:41:04.792503    미래에셋 인버스 2X 코스닥150 선물 ETN   7180   525  -6.81

## 탭4(시가총액 상위)

In [68]:
group_type = group_types[3]
stock_lines = group_type.select('tbody tr')

In [69]:
stock_name_list = []
current_price_list = []
compare_yesterday_list = []
updown_ratio_list = []
for one_stock in stock_lines:
    # 종목명
    stock_name = one_stock.select_one('th a').text
    
    # 현재가
    current_price = int(one_stock.select_one('td').text.replace(',', ''))

    # 전일대비
    raw_compare_yesterday = one_stock.select('td')[1].text
    compare_yesterday = int(re.sub('[^0-9]', '', raw_compare_yesterday))

    # 등락률
    raw_updown_ratio = one_stock.select('td')[2].text.strip()
    updown_ratio = float(re.sub('[^0-9.-]', '', raw_updown_ratio))
    
    # 리스트에 추가
    stock_name_list.append(stock_name)
    current_price_list.append(current_price)
    compare_yesterday_list.append(compare_yesterday)
    updown_ratio_list.append(updown_ratio)

In [70]:
len(stock_name_list), len(current_price_list), len(compare_yesterday_list), len(updown_ratio_list)

(15, 15, 15, 15)

In [71]:
tab3_df = pd.DataFrame(
    {
        '수집시간': current_time,
        '종목명': stock_name_list,
        '현재가': current_price_list,
        '전일대비': compare_yesterday_list,
        '등락률': updown_ratio_list
    }
)
tab3_df

                         수집시간       종목명     현재가   전일대비   등락률
0  2025-01-03 12:41:04.792503      삼성전자   54800   1400  2.62
1  2025-01-03 12:41:04.792503    SK하이닉스  181300  10100  5.90
2  2025-01-03 12:41:04.792503  LG에너지솔루션  359000  13000  3.76
3  2025-01-03 12:41:04.792503  삼성바이오로직스  940000   6000  0.64
4  2025-01-03 12:41:04.792503       현대차  213500   2000  0.95
5  2025-01-03 12:41:04.792503        기아  100400   1200 -1.18
6  2025-01-03 12:41:04.792503      셀트리온  181000    700  0.39
7  2025-01-03 12:41:04.792503     삼성전자우   45200    500  1.12
8  2025-01-03 12:41:04.792503      KB금융   84700   1300  1.56
9  2025-01-03 12:41:04.792503     NAVER  199800   6000  3.10
10 2025-01-03 12:41:04.792503   HD현대중공업  291500   2500  0.87
11 2025-01-03 12:41:04.792503      신한지주   48750   1000  2.09
12 2025-01-03 12:41:04.792503     현대모비스  248000   1000 -0.40
13 2025-01-03 12:41:04.792503  POSCO홀딩스  260500  10500  4.20
14 2025-01-03 12:41:04.792503      삼성물산  115500   2200  1.94

## 데이터 출력

In [115]:
# TOP 종목
section_sise_top = soup.select_one('div#content div.section_sise_top')
group_types = section_sise_top.select('div.group_type')

In [116]:
# 데이터 출력
current_date = time.strftime('%Y%m%d')
# 현재 경로 확인
code_path = os.getcwd().replace('\\', '/')
# 수집한 파일 저장할 폴더 생성
crawled_folder_path = os.path.join(code_path, 'crawled_data', 'naver_stock', 'home', current_date)
os.makedirs(crawled_folder_path, exist_ok=True)
# 저장할 파일 경로
file_path = os.path.join(crawled_folder_path, f'naver_stock_home_{current_time.strftime("%Y%m%d_%H%M%S")}.xlsx')

# 1번째 : 거래상위, 2번째 : 상승, 3번째 : 하락, 4번째 : 시가총액 상위
sheet_name_list = ['거래상위', '상승', '하락', '시가총액상위']
with pd.ExcelWriter(file_path) as writer:
    for group, sheet_name in zip(group_types, sheet_name_list):
        stock_name_list = []
        current_price_list = []
        compare_yesterday_list = []
        updown_ratio_list = []
        # 종목 정보 추출
        stock_lines = group.select('tbody tr')
        for one_stock in stock_lines:
            # 종목명
            stock_name = one_stock.select_one('th a').text

            # 현재가
            current_price = int(one_stock.select_one('td').text.replace(',', ''))

            # 전일대비
            raw_compare_yesterday = one_stock.select('td')[1].text
            compare_yesterday = int(re.sub('[^0-9]', '', raw_compare_yesterday))

            # 등락률
            raw_updown_ratio = one_stock.select('td')[2].text.strip()
            updown_ratio = float(re.sub('[^0-9.-]', '', raw_updown_ratio))

            # 리스트에 추가
            stock_name_list.append(stock_name)
            current_price_list.append(current_price)
            compare_yesterday_list.append(compare_yesterday)
            updown_ratio_list.append(updown_ratio)
        
        # 데이터프레임 생성
        df = pd.DataFrame(
            {
                '수집시간': current_time,
                '종목명': stock_name_list,
                '현재가': current_price_list,
                '전일대비': compare_yesterday_list,
                '등락률': updown_ratio_list
            }
        )
        df.to_excel(writer, sheet_name=sheet_name, index=False)

print('데이터 저장 경로 :', crawled_folder_path)
print('저장완료')

데이터 저장 경로 : c:/Users/kbjoo/Documents/Google_Drive/GitHub/my_projects/crawling/naver\crawled_data\naver_stock\home\20250103
저장완료

# END